* {
  font-family: "JetbrainsMono Nerd Font";
  font-size: 11px;
  min-height: 0;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#waybar {
  background: rgba(31, 31, 40, 0.9);
  color: #c6d0f5;
  margin: 0px 0px;
}
#workspaces {
  border-radius: 0px;
  margin: 2px;
  margin-left: 1rem;
}
#workspaces button {
  color: #babbf1;
  border-radius: 0px;
  padding: 0.2rem;
}
#workspaces button.active {
   color: #c9545d;
   border-top: 2px solid #c9545d;
   border-radius: 0px;
}
#workspaces button:hover {
  color: #85c1dc;
  border-radius: 0px;
}
#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power {
  padding: 0.2rem 0.7rem;
  margin: 2px 0;
}
#memory {
  border-radius: 0px 0px 0px 0px;
}
#clock {

  border-radius: 0px;
  margin-right: 1rem;
}
#battery {
  color: #a6d189;
}
#battery.charging {
  color: #a6d189;
}
#battery.warning:not(.charging) {
  color: #e78284;
}
#backlight {
  color: #e5c890;
}
#backlight,
#battery {
  border-radius: 0;
}
#pulseaudio {
  color: #ea999c;
  border-radius: 0px 0px 0px 0px;
  margin-left: 1rem;
}
#custom-music {
  color: #ca9ee6;
  border-radius: 0px;
}
#custom-lock {
  border-radius: 0px 0px 0px 0px;
  color: #babbf1;
}
#custom-power {
  margin-right: 1rem;
  border-radius: 0px 0px 0px 0px;
  color: #e78284;
}
#tray {
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 5px;
}
